<div>
 <span class="mytooltip tooltip-effect-1">
   <span class="tooltip-item"><img height="20" width="20" src="../../../../assets/Infobox_info_icon.svg" /></span>
   <span class="tooltip-content clearfix">

     <!-- <img *ngIf="imagen" style="width: 100%; height: 150px; margin-bottom: 10px;" src={{imagen}}> -->
   <span class="tooltip-text">{{informacion}}

    <span *ngIf="ejemplo.length">
      <span *ngFor="let columna of ejemplo">
            <p>{{columna}}</p>
      </span>
    </span>

   </span>
   </span>
   </span>
</div>
